﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Forum @ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body style="background-color: #f5f3f0; ">
    
    <header>
        @{

            if (user != null)
            {

                <nav class="navbar navbar-default">
                    <div class="container-fluid" style="justify-content: center; text-align: center;">

                        <!-- This will link to Posts index-->
                        <p class="navbar-text navbar-left"> <a href='@Url.Action("Index", "Posts")' class="navbar-link"><img src="~/Images/Logo.png" height=50 width=50 alt="" class="img-fluid" /><br />Listen Up!</a></p>

                        <p class="navbar-text navbar-right"><a href='@Url.Action("Details", "Users",new {id=user.Id})' class="navbar-link"><img src="@Url.Content($"{user.ProfilePicture}")" height=50 width=50 alt="" class="img-fluid" /><br />Signed in as @user.DisplayName </a></p>

                        <p class="navbar-text navbar-right"> <a href='@Url.Action("Index", "Users",new {id=user.Id})' class="navbar-link"><span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size: 46px"></span><br />Community</a></p>

                    </div>
                </nav>
            }
        }


        <!--
        <nav class="navbar navbar-default">
            <div class="container-fluid">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Forum</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Posts" asp-action="Index">Posts</a></li>
                    <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        @if (this.ViewData["CurrentUser"] != null)
                        {
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged as @this.ViewData["CurrentUser"] <span class="caret"></span></a>
                        }
                        else
                        {
                            <a asp-controller="Auth" asp-action="Login">Log in</a>
                        }
                        <ul class="dropdown-menu">

                            @*<li role="separator" class="divider"></li>*@
                            <li><a asp-controller="Settings" asp-action="Index">Change profile picture</a></li>
                            <li><a asp-controller="Auth" asp-action="Logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            </div>
            </nav>
                -->
    </header>

    <div class="body-content">
        @RenderBody()
    </div>

    @*<footer>
            <p>footer</p>
        </footer>*@

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>