﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@model Web.ViewModels.PostSummaryViewModel

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

<div class="container">
    <div class="row">
        <!--style="border-width:thin; border:solid"-->
        <div class="col-md-2">
            @Html.Partial("UserProfileHeader", Model.Entry.Author)
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">

                        @if (user == null)
                        {
                            @Html.ActionLink(Model.Title, "Index", "Home", new { register = true })
                        }
                        else
                        {
                            @Html.ActionLink(Model.Title, "Details", "Posts", new { id = Model.Id })
                        }
                        <br />
                        <!--Html.DisplayFor(modelItem => Model.Title)-->
                        <span class="pull-right">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                            </span>
                            @Html.DisplayFor(modelItem => Model.LikeCount)
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">
                            </span>
                            @Html.DisplayFor(modelItem => Model.CommentCount)
                        </span>
                        <br />
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <i>
                                Posted at: @Html.DisplayFor(modelItem => Model.Entry.CreationTime)

                                @{
                                    @if ((Model.Entry.EditTime - Model.Entry.CreationTime).TotalSeconds > 1000f)
                                    {

                                        @Html.Raw("Edited at: ")
                                        @Html.DisplayFor(modelItem => Model.Entry.EditTime)

                                      }

                                  }
                                    </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            @{
                if (user != null)
                {
                    if (user.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Admin || Model.Entry.Author.Id == user.Id)
                    {
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeletePost", "Posts", new { id = Model.Id })'">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span>
                        </button>
                    }
                }
            }
        </div>
    </div>
</div>
<br />

