﻿@model Web.ViewModels.UserViewModel
<div style="text-align: center">
    <img src="@Url.Content($"{Model.ProfilePicture}")" alt="" height=100 width=100 class="img-circle" />
    @*<span class="glyphicon glyphicon glyphicon-user" aria-hidden="true">
        </span>*@
    <br />
    <br />
    @Html.DisplayFor(modelItem => Model.DisplayName)
    <br />
    <span class="
glyphicon glyphicon-envelope" aria-hidden="true">
    </span> @Model.PostCount
    <span class="glyphicon glyphicon-heart" aria-hidden="true">
    </span>
    @Model.LikeCount
    <span class="glyphicon glyphicon-comment" aria-hidden="true">
    </span> @Model.CommentCount

</div>