﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@{ ViewData["Title"] = "User"; }
@model Web.ViewModels.UserViewModel

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

<div class="container" style="margin-top:40px">

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-body">

                    <form role="form" asp-action="UploadImage" asp-controller="Users" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="Id" />
                        <div class="panel-body">
                            <img class="center-block" src="@Url.Content($"{Model.ProfilePicture}")" alt="" height=100 width=100 />
                            <input class="form-control form-control" type="file" id="file1" name="file1" multiple="multiple" />
                        </div>

                        <div class="panel-footer ">
                            <input type="submit" class="btn btn-primary btn-block" value="Upload">
                        </div>

                    </form>


                    @if (@TempData["error"] != null)
                    {
                        <div class="alert alert-danger span12 text-center center-block mx-1" style="width:92%">
                            @TempData["error"].ToString()
                        </div>
                    }

                    <div class="center-bloc text-center" style="text-align: center">
                        <br />
                        <br />
                        @Html.DisplayFor(modelItem => Model.DisplayName)
                        <br />
                        <span class="glyphicon glyphicon-envelope" aria-hidden="true">
                        </span> @Model.PostCount
                        <span class="glyphicon glyphicon-heart" aria-hidden="true">
                        </span>
                        @Model.LikeCount
                        <span class="glyphicon glyphicon-comment" aria-hidden="true">
                        </span> @Model.CommentCount
                    </div>
                    <form role="form" asp-controller="Users" asp-action="Edit" method="POST">
                        <fieldset>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                                    <!-- @Html.Partial("UserProfileHeader", Model)-->

                                    <br />
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="hidden" asp-for="Id" />
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-user"></i>
                                            </span>
                                            <input class="form-control" placeholder=@Model.UserName name="username" type="text" value=@Model.UserName readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-eye-open"></i>
                                            </span>
                                            <input class="form-control" placeholder=@Model.DisplayName name="displayName" id="displayName" type="text" value=@Model.DisplayName autofocus>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="glyphicon glyphicon-envelope"></i>
                                            </span>
                                            <input class="form-control" placeholder=@Model.Email name="Email" type="text" value=@Model.Email readonly>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" class="btn btn-med btn-primary btn-block" value="Edit">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-10  col-md-offset-1 " style="text-align=center;">
                                    <!--<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "Users", new { id = Model.Id });'">
                                    </button>-->

                                    <br />

                                    <button type="button" class="btn btn-primary  btn-block" onclick="location.href='@Url.Action("Index", "Posts", new { filterStrategy=Service.Enums.PostFilterStrategy.DisplayName,filterData=Model.DisplayName})'">
                                        <span class="glyphicon glyphicon-comment" aria-hidden="true">
                                        </span>
                                        Posts by user...
                                    </button>
                                    <br />

                                    @{

                                        if (user.Id == Model.Id)
                                        {

                                            <br />
                                            <button type="button" class="btn btn-med btn-danger  btn-block" onclick="location.href='@Url.Action("Logout", "Auth")'">
                                                <span class="glyphicon glyphicon-log-out" aria-hidden="true">
                                                </span>
                                                Logout
                                            </button>

                                        }
                                    }
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="col-sm-12 col-md-10  col-md-offset-1 ">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>