﻿@using Microsoft.AspNetCore.Http;
@using Web.ViewModels
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@model Web.ViewModels.UserListViewModel

@{

    var current_filterStrategy = (Service.Enums.UserFilterStrategy)ViewData["FilterStrategy"];
    var current_filterData = (string)ViewData["FilterData"];
    var current_Page = (int)ViewData["CurrentPage"];
    var total_Pages = (int)ViewData["TotalPages"];

}


<!--Okay. Let's draw this thing...-->

<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            @{

                if (total_Pages > 1)
                {
                        <ul class="pagination">

                            @{
                                if (current_Page > 0)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Users", new { page = 0, filterStrategy = current_filterStrategy, FilterData = current_filterData })">First</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Users", new { page = current_Page - 1, filterStrategy = current_filterStrategy, FilterData = current_filterData })">Previous</a>
                                    </li>
                                }
                            }

                            @{
                                for (int i = 0; i < total_Pages; i++)
                                {
                                    <li class="page-item @(i == current_Page ? "active" : "")">
                                        <a class="page-link" href="@Url.Action("Index", "Users", new { page = i, filterStrategy = current_filterStrategy, FilterData = current_filterData })">@(i+1)</a>
                                    </li>
                                }
                            }

                            @{
                                if (current_Page < total_Pages-1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Users", new { page = current_Page + 1, filterStrategy = current_filterStrategy, FilterData = current_filterData })">Next</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("Index", "Users", new { page = total_Pages-1, filterStrategy = current_filterStrategy, FilterData = current_filterData })">Last</a>
                                    </li>
                                }
                            }
                        </ul>
                }

            }

        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
<div class="container">

    <div class="row">
        <div class="col-md-2">
            <!--Put current author face here-->
        </div>
        <div class="col-md-8">

            <div class="col-md-6" style="padding-left: 0">
                <form method="get" class="form-inline" enctype="multipart/form-data" asp-controller="Users" asp-action="Index" style="display: inline-block;">
                    <input type="text" class="form-control" id="filterData" name="filterData" placeholder="Search user..." value="@current_filterData">
                    <input type="hidden" name="filterStrategy" id="filterStrategy" value="@Service.Enums.UserFilterStrategy.All">
                    <span class="input-group-btn" style="display: inline-block;">
                        <button class="btn btn-primary" type="submit" style="display: inline-block;">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </span>
                        </button>
                    </span>
                </form>
            </div>
            <div class="col-md-6" style="padding-right: 0">

                <span class="pull-right" style="display: inline-block;">

                    <!--Date_Descending,
                    Date_Ascending,
                    Likes_Descending,
                    Likes_Ascending,
                    Comments_Descending,
                    Comments_Ascending-->

                </span>
            </div>


        </div>
        <div class="col-md-2">
            <div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">

            <!--Pagination... allegedly-->
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<br />

@foreach (var item in Model.Users)
{
    @Html.Partial("UserSummary", item)
}
