﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@{ ViewData["Title"] = "User"; }
@model Web.ViewModels.UserViewModel

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

<div class="container" style="margin-top:40px">

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-body">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            @Html.Partial("UserProfileHeader", Model)
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Posts", new { filterStrategy=Service.Enums.PostFilterStrategy.DisplayName,filterData=Model.DisplayName})'">
                                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                                </span>
                                Posts by user...
                            </button>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>