﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@model Web.ViewModels.UserViewModel

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

@{

    var current_filterStrategy = (Service.Enums.UserFilterStrategy)ViewData["FilterStrategy"];
    var current_filterData = (string)ViewData["FilterData"];
    var current_Page = (int)ViewData["CurrentPage"];
    var total_Pages = (int)ViewData["TotalPages"];
}


<div class="container">
    <div class="row">
        <!--style="border-width:thin; border:solid"-->
        <div class="col-md-2">
            @Html.Partial("UserProfileHeader", Model)
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @Html.ActionLink(Model.DisplayName, "Details", "Users", new { id = Model.Id })
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <i>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            @{
                if (user != null)
                {
                    if ((user.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Admin && user.Id != Model.Id) /*&& Model.Privilege.PrivilegeLevel != Service.Enums.UserPrivilegeLevel.Admin*/)
                    {
                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteUser", "Users", new { id = Model.Id, filterData = current_filterData,  filterStrategy = current_filterStrategy, page = current_Page})'">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true">
                            </span>
                        </button>
                    }
                    if (user.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Admin && Model.Privilege.PrivilegeLevel != Service.Enums.UserPrivilegeLevel.Admin)
                    {

                        var glyph = "glyphicon glyphicon-eye-close";
                        var buttonType = "btn btn-danger";

                        if (Model.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Blocked)
                        {
                            glyph = "glyphicon glyphicon-eye-open";
                            buttonType = "btn btn-info";
                        }

                        <button type="button" class="@buttonType" onclick="location.href='@Url.Action("SetUserBlocked", "Users", new
                        {
                            id = Model.Id,
                            blocked = !(Model.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Blocked),
                            page = current_Page,
                            filterStrategy = current_filterStrategy,
                            FilterData = current_filterData
                        })'">
                            <span class="@glyph" aria-hidden="true">
                            </span>
                        </button>
                    }
                }
            }
        </div>
    </div>
</div>
<br />

