﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}
@model Web.ViewModels.CommentViewModel
@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("UserProfileHeader", Model.Entry.Author)
        </div>
        <div class="col-md-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-md-4">
                            <i>
                                Posted at: @Html.DisplayFor(modelItem => Model.Entry.CreationTime)
                            </i>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            @Html.DisplayFor(modelItem => Model.Entry.Content)
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-10">
                        </div>
                        <div class="col-md-2">
                            <span class="pull-right">

                                @{

                                    var like = Model.Entry.Likes.FirstOrDefault(x => x.Author.Id == user.Id);

                                    if (like != null)
                                    {

                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveLike", "Posts", new { id = like.Id, postId = Model.PostId, userId = user.Id })'">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                                            </span>
                                            @Html.DisplayFor(modelItem => Model.Entry.Likes.Count)
                                        </button>
                                    }
                                    else
                                    {

                                        <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("LikeComment", "Posts", new { id = Model.Entry.Id, postId = Model.PostId })'">
                                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                                            </span>
                                            @Html.DisplayFor(modelItem => Model.Entry.Likes.Count)
                                        </button>
                                    }
                                }

                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{
                        if (user.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Admin || Model.Entry.Author.Id == user.Id)
                        {
                            <span class="pull-right">
                                <button type="button" class="btn btn-info"
                                        data-toggle="collapse" data-target="#editCommentPanel" aria-expanded="false" aria-controls="editCommentPanel">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                    </span>
                                </button>
                                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteComment", "Posts", new { id = Model.Id })'">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                                    </span>
                                </button>
                            </span>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<br />
<div class="collapse" id="editCommentPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" div style="text-align:center">
                <!-- Put the thing here -->
                <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="EditComment">
                    <input type="hidden" name="id" id="id" value=@Model.Id>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <textarea id="content" name="content" class="form-control" rows="9" style="resize: none;" placeholder=@Model.Entry.Content required>@Model.Entry.Content</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                        </span>
                        Save...
                    </button>
                </form>
                <!-- and then put a centered button here-->
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>
<br />

