﻿@using Microsoft.AspNetCore.Http;
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
}

@model Web.ViewModels.PostDetailsViewModel

@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            @Html.Partial("UserProfileHeader", Model.Entry.Author)
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @Html.DisplayFor(modelItem => Model.Title)
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">

                            </div>
                            <div class="col-md-4">
                                <i>
                                    Posted at: @Html.DisplayFor(modelItem => Model.Entry.CreationTime)
                                </i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @Html.DisplayFor(modelItem => Model.Entry.Content)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                <span class="pull-right">

                                    @{

                                        var like = Model.Entry.Likes.FirstOrDefault(x => x.Author.Id == user.Id);

                                        if (like != null)
                                        {

                                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("RemoveLike", "Posts", new { id = like.Id, postId = Model.Id, userId = user.Id })'">
                                                <span class="glyphicon glyphicon-heart" aria-hidden="true">
                                                </span>
                                                @Html.DisplayFor(modelItem => Model.LikeCount)
                                            </button>
                                        }
                                        else
                                        {

                                            <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("LikePost", "Posts", new { id = Model.Entry.Id, postId = Model.Id })'">
                                                <span class="glyphicon glyphicon-heart" aria-hidden="true">
                                                </span>
                                                @Html.DisplayFor(modelItem => Model.LikeCount)
                                            </button>
                                        }
                                    }


                                    @{
                                        if (user.Privilege.PrivilegeLevel != Service.Enums.UserPrivilegeLevel.Blocked)
                                        {

                                            <button class="btn btn-info" data-toggle="collapse" data-target="#commentPanel" aria-expanded="false" aria-controls="commentPanel">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                                                </span>
                                                @Html.DisplayFor(modelItem => Model.CommentCount)
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-default" aria-expanded="false">
                                                <span class="glyphicon glyphicon-comment" aria-hidden="true">
                                                </span>
                                                @Html.DisplayFor(modelItem => Model.CommentCount)
                                            </button>
                                        }
                                    }

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                @{
                    if (user.Privilege.PrivilegeLevel == Service.Enums.UserPrivilegeLevel.Admin || Model.Entry.Author.Id == user.Id)
                    {
                        <span class="pull-right">
                            <button type="button" class="btn btn-info"
                                    data-toggle="collapse" data-target="#editPanel" aria-expanded="false" aria-controls="editPanel">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                                </span>
                            </button>

                            <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeletePost", "Posts", new { id = Model.Id })'">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true">
                                </span>
                            </button>
                        </span>
                    }
                }

            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
<br />
<div class="collapse" id="editPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8" div style="text-align:center">
                <!-- Put the thing here -->
                <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="EditPost">
                    <input type="hidden" name="id" id="id" value=@Model.Id>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" id="title" name="title" class="form-control" value="@Model.Title.ToString()">
                                    <br />
                                    <textarea id="content" name="content" class="form-control" rows="9" style="resize: none;" placeholder=@Model.Entry.Content required>@Model.Entry.Content</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info">
                        Save...
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true">
                        </span>
                    </button>
                </form>
                <!-- and then put a centered button here-->
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>

<br />

<div class="collapse" id="commentPanel">
    <div class="container">

        <div class="row">
            <div class="col-md-2">
                <!--Add the current user's face here'-->
            </div>
            <div class="col-md-8">

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            New Comment
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="AddComment">
                            <input type="hidden" name="id" id="id" value=@Model.Id>
                            <div class="row">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea id="content" name="content" class="form-control" rows="5" style="resize: none;" placeholder="What's up?" required></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                </div>
                                <div class="col-md-4">
                                    <span class="pull-right">
                                        <button type="submit" class="btn btn-info">
                                            <span class="glyphicon glyphicon-comment" aria-hidden="true">
                                            </span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>
</div>


@{

    string[] sortValues = Enum.GetNames(typeof(Service.Enums.CommentSortStrategy));

    var current_sortStrategy = (Service.Enums.CommentSortStrategy)ViewData["SortStrategy"];

}


<br />

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!--Put current author face here-->
        </div>
        <div class="col-md-8" style="padding-right: 0">

            <span class="pull-right" style="display: inline-block;">

                <!--Date_Descending,
                Date_Ascending,
                Likes_Descending,
                Likes_Ascending,`
                Comments_Descending,
                Comments_Ascending-->

                @{


                    string style = "btn btn-info";
                    string glyph = "glyphicon glyphicon-arrow-down";

                    var strategy = Service.Enums.CommentSortStrategy.Likes_Descending;

                    if (current_sortStrategy == Service.Enums.CommentSortStrategy.Likes_Ascending || current_sortStrategy == Service.Enums.CommentSortStrategy.Likes_Descending)
                    {
                        style = "btn btn-primary";

                        if (current_sortStrategy == Service.Enums.CommentSortStrategy.Likes_Descending)
                        {
                            glyph = "glyphicon glyphicon-arrow-down";
                            strategy = Service.Enums.CommentSortStrategy.Likes_Ascending;
                        }
                        else
                        {
                            glyph = "glyphicon glyphicon-arrow-up";
                            strategy = Service.Enums.CommentSortStrategy.Likes_Descending;
                        }

                    }

                    <button type="button" class="@style" onclick="location.href='@Url.Action("Details", "Posts",new {id=@Model.Id, sortStrategy=strategy})'">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true">
                        </span>
                        <span class="@glyph" aria-hidden="true">
                        </span>
                    </button>

                    style = "btn btn-info";
                    glyph = "glyphicon glyphicon-arrow-down";
                    strategy = Service.Enums.CommentSortStrategy.Date_Descending;

                    if (current_sortStrategy == Service.Enums.CommentSortStrategy.Date_Ascending || current_sortStrategy == Service.Enums.CommentSortStrategy.Date_Descending || current_sortStrategy == Service.Enums.CommentSortStrategy.None)
                    {
                        style = "btn btn-primary";

                        if (current_sortStrategy == Service.Enums.CommentSortStrategy.Date_Descending || current_sortStrategy == Service.Enums.CommentSortStrategy.None)
                        {
                            glyph = "glyphicon glyphicon-arrow-down";
                            strategy = Service.Enums.CommentSortStrategy.Date_Ascending;
                        }
                        else
                        {
                            glyph = "glyphicon glyphicon-arrow-up";
                            strategy = Service.Enums.CommentSortStrategy.Date_Descending;
                        }

                    }

                    <button type="button" class="@style" onclick="location.href='@Url.Action("Details", "Posts",new {id=@Model.Id, sortStrategy=strategy})'">
                        <span class="glyphicon glyphicon-time" aria-hidden="true">
                        </span>
                        <span class="@glyph" aria-hidden="true">
                        </span>
                    </button>
                }

            </span>

            <div class="col-md-2">

            </div>
        </div>
    </div>

    <br />
    @foreach (var item in Model.Comments)
    {

        @Html.Partial("Comment", item)

        <br />
    }

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            var scrollpos = localStorage.getItem('scrollpos');
            if (scrollpos) window.scrollTo(0, scrollpos);
        });

        window.onbeforeunload = function (e) {
            localStorage.setItem('scrollpos', window.scrollY);
        };
    </script>
