﻿@using Microsoft.AspNetCore.Http;
@using Web.ViewModels
@{
    this.ViewData["IsAuthenticated"] = this.Context.Session.Keys.Contains("CurrentUser");
    this.ViewData["CurrentUser"] = this.Context.Session.GetString("CurrentUser");
    this.ViewData["CurrentUserObj"] = Web.Controllers.AuthController.CurrentUser;
    Pager pager = new Pager();
    int pageNo = 0;
    if (this.ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

@model Web.ViewModels.PostSummaryListViewModel
<!--<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
-->
@{
    var user = (Web.ViewModels.UserViewModel)this.ViewData["CurrentUserObj"];
}

<div class="container">
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            @{
                if (user.Privilege.PrivilegeLevel != Service.Enums.UserPrivilegeLevel.Blocked)
                {
                    <span class="pull-right">
                        <button type="button" class="btn btn-info"
                                data-toggle="collapse" data-target="#createPanel" aria-expanded="true" aria-controls="createPanel">
                            New Post
                            <span class="glyphicon glyphicon-plus" aria-hidden="true">
                            </span>
                        </button>
                    </span>
                }
            }
        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<br />

<div class="collapse" id="createPanel">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <!--Put current author face here-->
            </div>
            <div class="col-md-8">
                <form method="post" enctype="multipart/form-data" asp-controller="Posts" asp-action="CreatePost">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <input type="text" id="title" name="title" class="form-control" placeholder="Title">
                        </div>
                        <div class="panel-body" style="text-align:center">
                            <br />
                            <textarea id="content" name="content" class="form-control" rows="9" style="resize: none;" placeholder="What's up?" required></textarea>
                            <br />
                            <button type="submit" class="btn btn-info">
                                New Post
                                <span class="glyphicon glyphicon-plus" aria-hidden="true">
                                </span>
                            </button>
                        </div>
                    </div>
                </form>


            </div>
            <div class="col-md-2">

            </div>
        </div>
    </div>
</div>

<br />

@{

    string[] sortValues = Enum.GetNames(typeof(Service.Enums.PostSortStrategy));
    string[] filterValues = Enum.GetNames(typeof(Service.Enums.PostFilterStrategy));

    var current_sortStrategy = (Service.Enums.PostSortStrategy)ViewData["SortStrategy"];
    var current_filterStrategy = (Service.Enums.PostFilterStrategy)ViewData["FilterStrategy"];
    var current_filterData = (string)ViewData["FilterData"];

}

<br />

<div class="container">

    <div class="row">
        <div class="col-md-2">
            <!--Put current author face here-->
        </div>
        <div class="col-md-8">

            <div class="col-md-6" style="padding-left: 0">
                <form method="get" class="form-inline" enctype="multipart/form-data" asp-controller="Posts" asp-action="Index" style="display: inline-block;">
                    <input type="text" class="form-control" id="filterData" name="filterData" placeholder="Search by name..." value="@current_filterData">
                    <input type="hidden" name="postStrategy" id="sortStrategy" value=@current_sortStrategy>
                    <input type="hidden" name="filterStrategy" id="filterStrategy" value="@Service.Enums.PostFilterStrategy.DisplayName">
                    <span class="input-group-btn" style="display: inline-block;">
                        <button class="btn btn-primary" type="submit" style="display: inline-block;">
                            <span class="glyphicon glyphicon-search" aria-hidden="true">
                            </span>
                        </button>
                    </span>
                </form>
            </div>
            <div class="col-md-6" style="padding-right: 0">

                <span class="pull-right" style="display: inline-block;">

                    <!--Date_Descending,
                    Date_Ascending,
                    Likes_Descending,
                    Likes_Ascending,
                    Comments_Descending,
                    Comments_Ascending-->

                    @{


                        string style = "btn btn-info";
                        string glyph = "glyphicon glyphicon-arrow-down";

                        var strategy = Service.Enums.PostSortStrategy.Likes_Descending;

                        if (current_sortStrategy == Service.Enums.PostSortStrategy.Likes_Ascending || current_sortStrategy == Service.Enums.PostSortStrategy.Likes_Descending)
                        {
                            style = "btn btn-primary";

                            if (current_sortStrategy == Service.Enums.PostSortStrategy.Likes_Descending)
                            {
                                glyph = "glyphicon glyphicon-arrow-down";
                                strategy = Service.Enums.PostSortStrategy.Likes_Ascending;
                            }
                            else
                            {
                                glyph = "glyphicon glyphicon-arrow-up";
                                strategy = Service.Enums.PostSortStrategy.Likes_Descending;
                            }

                        }

                        <button type="button" class="@style" onclick="location.href='@Url.Action("Index", "Posts",new {sortStrategy=strategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})'">
                            <span class="glyphicon glyphicon-heart" aria-hidden="true">
                            </span>
                            <span class="@glyph" aria-hidden="true">
                            </span>
                        </button>

                        style = "btn btn-info";
                        glyph = "glyphicon glyphicon-arrow-down";
                        strategy = Service.Enums.PostSortStrategy.Comments_Descending;

                        if (current_sortStrategy == Service.Enums.PostSortStrategy.Comments_Ascending || current_sortStrategy == Service.Enums.PostSortStrategy.Comments_Descending)
                        {
                            style = "btn btn-primary";

                            if (current_sortStrategy == Service.Enums.PostSortStrategy.Comments_Descending)
                            {
                                glyph = "glyphicon glyphicon-arrow-down";
                                strategy = Service.Enums.PostSortStrategy.Comments_Ascending;
                            }
                            else
                            {
                                glyph = "glyphicon glyphicon-arrow-up";
                                strategy = Service.Enums.PostSortStrategy.Comments_Descending;
                            }

                        }

                        <button type="button" class="@style" onclick="location.href='@Url.Action("Index", "Posts",new {sortStrategy=strategy,filterStrategy=current_filterStrategy,filterData=current_filterData})'">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true">
                            </span>
                            <span class="@glyph" aria-hidden="true">
                            </span>
                        </button>

                        style = "btn btn-info";
                        glyph = "glyphicon glyphicon-arrow-down";
                        strategy = Service.Enums.PostSortStrategy.Date_Descending;

                        if (current_sortStrategy == Service.Enums.PostSortStrategy.Date_Ascending || current_sortStrategy == Service.Enums.PostSortStrategy.Date_Descending || current_sortStrategy == Service.Enums.PostSortStrategy.None)
                        {
                            style = "btn btn-primary";

                            if (current_sortStrategy == Service.Enums.PostSortStrategy.Date_Descending || current_sortStrategy == Service.Enums.PostSortStrategy.None)
                            {
                                glyph = "glyphicon glyphicon-arrow-down";
                                strategy = Service.Enums.PostSortStrategy.Date_Ascending;
                            }
                            else
                            {
                                glyph = "glyphicon glyphicon-arrow-up";
                                strategy = Service.Enums.PostSortStrategy.Date_Descending;
                            }

                        }

                        <button type="button" class="@style" onclick="location.href='@Url.Action("Index", "Posts",new {sortStrategy=strategy,filterStrategy=current_filterStrategy,filterData=current_filterData})'">
                            <span class="glyphicon glyphicon-time" aria-hidden="true">
                            </span>
                            <span class="@glyph" aria-hidden="true">
                            </span>
                        </button>
                    }

                </span>
            </div>


        </div>
        <div class="col-md-2">
            <div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            

            @if (pager.TotalPages > 1)
            {
            <ul class="pagination">
                @if (pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Posts",new {pg = 1, sortStrategy=current_sortStrategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Posts",new {pg = pageNo-1, sortStrategy=current_sortStrategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})">Previous</a>
                    </li>
                }

                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                {
                    <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", "Posts",new {pg = pge, sortStrategy=current_sortStrategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})">@pge</a>
                    </li>
                }

                @if (pager.CurrentPage < pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Posts",new {pg = pageNo+1, sortStrategy=current_sortStrategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index", "Posts",new {pg =pager.TotalPages, sortStrategy=current_sortStrategy,filterStrategy=current_filterStrategy,FilterData=current_filterData})">Last</a>
                    </li>
                }
            </ul>
            }

        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>

<br />

@foreach (var item in Model.PostList)
{
    @Html.Partial("PostSummary", item)
}