﻿@{ ViewData["Title"] = "Settings"; }
@model Web.ViewModels.UserViewModel

<div class="container" style="margin-top:40px">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <strong> Profile picture</strong>
                </div>

                <form role="form" asp-action="UploadImage" asp-controller="Settings" method="post" enctype="multipart/form-data">

                    <div class="panel-body">
                        <div class="span12 text-center">Your current picture is</div>
                        <img class="center-block" src="@Url.Content($"{Model.ProfilePicture}")" alt="" height=100 width=100 />
                        <input class="form-control form-control-lg" type="file" id="file1" name="file1" multiple="multiple" />
                    </div>

                    <div class="panel-footer ">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" value="Upload">
                    </div>

                </form>

                @if (@TempData["error"] != null)
                {
                    <div class="alert alert-danger span12 text-center center-block mx-1" style="width:92%">
                        @TempData["error"].ToString()
                    </div>
                }
            </div>
        </div>
    </div>
</div>