﻿@{ ViewData["Title"] = "Home"; }
@model Web.ViewModels.HomePageViewModel
@{
    <div class="container">
        <br />
        <div class="row" div style="text-align:center">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">

                <br />
                <img src="~/Images/Logo.png" alt="" height=100 width=100 class="img-circle" />
                <br />
                <h5><i>Listen Up!</i></h5>
                <br />
                <button type="button" class="btn btn-primary btn-block" 
                        onclick="location.href='@Url.Action("Login", "Auth")'">
                    <h4>Join @Model.TotalUserCount people in @Model.TotalPostCount conversations!</h4>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true" style="font-size: 24px">
                    </span>
                </button>

                <br />

            </div>
            <div class="col-md-2">

            </div>
        </div>
        <br />
        <div class="row" div style="text-align:center">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Top Recent
                        </h3>
                    </div>
                </div>

            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row" div style="text-align:center">

            @Html.Partial("PostCarousel", Model.TopRecentPosts)

        </div>
        <div class="row" div style="text-align:center">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Most Popular
                        </h3>
                    </div>
                </div>

            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row" div style="text-align:center">

            @Html.Partial("PostCarousel", Model.TopTenPosts)

        </div>
    </div>


}
