﻿@{ ViewData["Title"] = "Home"; }
@model Web.ViewModels.PostSummaryListViewModel

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">

        @{
            for (int i = 0; i < Model.PostList.Count; i++)
            {
                if (i == 0)
                {
                    <li data-target="#myCarousel" data-slide-to=@i class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to=@i></li>
                }

            }
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        @{
            for (int i = 0; i < Model.PostList.Count; i++)
            {
                if (i == 0)
                {
                    <div class="item active">
                        @Html.Partial("PostSummary", Model.PostList[i])
                    </div>
                }
                else
                {
                    <div class="item">
                        @Html.Partial("PostSummary", Model.PostList[i])
                    </div>
                }

            }
        }

    </div>

    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>-->
</div>